/* @media screen and (prefers-color-scheme: dark) {
  :root {
    --background-color: #212121;
    --foreground-color: #f2f2f2;
    --accent-color: #212121;
    --red: #ff6659;
    --highlight-bg: #ff665920;
    --highlight-fg: #ff6659;
  }
  h1,
  h2,
  p, img {
    opacity: 0.9;
  }
} */
