@media screen and (prefers-color-scheme: dark) {
  :root {
    --light: #ffe08240;
    --background: #3e2723;
    --foreground: #ffe082;
    --accent: #ff6659;
    --accent-light: #ff665940;
  }
  h1,
  h2,
  p,
  img {
    opacity: 0.9;
  }
}
