@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: "Regular";
  font-display: swap;
  src: url("/src/fonts/Inter-upright.var.woff2?v=3.5") format("woff2");
}

:root {
  --background-color: #f2f2f2;
  --foreground-color: #222222;
  --accent-color: #fbdb99;
  --accent-color-75: #fbda99bf;

  --white: #ffffff;
}

*::selection {
  background-color: var(--accent-color);
  color: var(--foreground-color);
}

*::-moz-selection {
  background-color: var(--accent-color);
  color: var(--foreground-color);
}

html {
  font-size: 16px;
  font-family: Inter, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: 5rem 1fr 1fr;
  padding: 1rem 5rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 5rem;
  border-top: 0.4rem solid var(--accent-color);
  border-bottom: 0.4rem solid var(--accent-color);
  background-color: var(--background-color);
}

nav:nth-child(1),
nav:nth-child(3) {
  border-right: 0.4rem solid var(--accent-color);
  border-left: 0.4rem solid var(--accent-color);
}

nav:nth-child(1) a {
  margin: 0;
}

nav a,
a.sect_art_more {
  font-weight: bold;
  text-decoration: none;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

nav a {
  margin: 0.75rem;
  line-height: 1rem;
}

nav a:hover,
a.sect_art_more:hover {
  opacity: 0.5;
}

section:nth-of-type(2n - 1) {
  grid-template: "article article empty" / 5.8rem 1fr 1fr;
}

section:nth-of-type(2n) {
  grid-template: "empty article article" / 1fr 1fr 5.8rem;
}

section:nth-of-type(1) {
  min-height: calc(100vh - 15rem);
  margin-top: 0;
  padding-top: 7rem;
  background-image: url("/src/images/school-main.jpg");
}

section:nth-of-type(2) {
  background-image: url("/src/images/school-bottom.jpg");
}

section:nth-of-type(3) {
  background-image: url("/src/images/school-side.jpg");
}

section:nth-of-type(4) {
  background-image: url("/src/images/school-rain.jpg");
}

section {
  display: inline-grid;
  width: calc(100% - 10rem);
  min-height: calc(100vh - 13rem);
  margin-top: 5rem;
  padding: 5rem 5rem 8rem 5rem;
  background-size: cover;
  background-position: center center;
}

article {
  grid-area: article;
  align-self: start;
  padding: 2rem 3.125rem 3.125rem 2rem;
  background-color: var(--background-color);
}

article,
img.sect_art_img {
  border: 0.4rem solid var(--accent-color);
}

h1,
p,
img.sect_art_img,
a.sect_art_more {
  margin: 1rem 0 0 0;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  font-weight: 600;
}

a {
  position: relative;
  display: flex;
  color: var(--foreground-color);
}

a.sect_art_more,
span.sect_art_tag {
  display: table;
  line-height: 1em;
  padding: 0.4rem;
}

a.sect_art_more {
  background-color: var(--accent-color);
}

a img {
  width: 100%;
  height: 100%;
}

span.sect_art_tag {
  background-color: var(--white);
}

img.sect_art_img {
  max-width: calc(100% - 1rem);
}
