@media screen and (max-width: 950px) {
  :root {
    --pad: 1.2rem;
  }
  header {
    width: 3.5rem;
    height: 3.5rem;
  }
  header nav {
    border: 0.2rem solid var(--accent-color);
  }
  main > section:first-of-type {
    padding-top: calc(3.5rem + 2 * var(--pad));
  }
  section:nth-last-of-type(n) {
    grid-template: "article" / 1fr;
  }
  section {
    width: calc(100% - 2 * var(--pad));
  }
  section {
    width: unset;
  }
  section > h1 {
    margin-top: 0;
  }
  footer a,
  section > h1 {
    font-size: 2.25rem;
  }
  article.art--img {
    grid-template-columns: 1fr;
  }
  table span {
    display: none;
  }
}
